@import url(./_opened/popup_opened.css);
@import url(./__title/popup__title.css);
@import url(./__save-btn/popup__save-btn.css);
@import url(./__form-name/popup__form-name.css);
@import url(./__form-activity/popup__form-activity.css);
@import url(./__form-container/popup__form-container.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__input/popup__input.css);
@import url(./__form-image-title/popup__form-image-title.css);
@import url(./__form-image-link/popup__form-image-link.css);
@import url(./__place-form-container/popup__place-form-container.css);


.popup {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 3;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
