@import url(./__logo/header__logo.css);
@import url(./__line/header__line.css);

.header {
  max-width: 882px;
  display: flex;
  flex-direction: column;
  padding: 28px 0 0;
  margin: 0 auto 42px;
}

@media all and (min-width: 1280px) {
  .header {
    padding: 45px 199px 0;
    margin: 0 auto 40px;
  }
}
